@charset "utf-8";
/* CSS Document */
.slider{
	position:relative;
	width:1000px;
	height:400px;
	border:2px solid black;
	margin:20px auto;
	margin-left:10px;
	overflow:hidden;
}

.slider img{
	position:absolute;
	width:1000px;
	height:500px;
	animation:slider-cycle 15s infinite;
	-webkit-animation:slider-cycle 15s infinite;
	opacity:0;
}

@keyframes slider-cycle{
	10%{opacity:1;}
	50%{opacity:0;}
}

@-webkit-keyframes slider-cycle{
	10%{opacity:1;}
	50%{opacity:0;}
}

.slider img:nth-child(0){animation-delay:0s;-webkit-animation-delay:0s;}
.slider img:nth-child(1){animation-delay:5s;-webkit-animation-delay:5s;}
.slider img:nth-child(2){animation-delay:10s;-webkit-animation-delay:10s;}