@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
	text-decoration:none;
}
.logo{
	width:80%;
	margin:15px auto;
	margin-top:0px;
	height:150px;
	background-color:transparent;
//	opacity:0.4;
	border:1px solid white;
	position:relative;
}
.logo div{
	
	margin-left:40px;
	margin-top:10px;
	color:#400000;
	opacity:0.8;
	
	font-size:100px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
	width:500px;
	height:150px;
}

.header{
	
	width:79%;
	margin:15px auto;
	margin-top:0px;
	height:50px;
	background-color:transparent;
//	opacity:0.4;
	padding-left:15px;
	border:1px solid white;
	position:relative;
}
.header a{
	text-decoration:none;
	color:#590000;
}
.section{
	width:80%;
	margin:15px auto;
	height:1300px;
	padding-left:50px;
	
//	border:1px solid black;
}

.header_items{
	width:150px;
	height:48px;
	float:left;
	padding-left:30px;
	padding-right:30px;
	font-family:Verdana;
	font-size:30px;
	line-height:50px;
	background-color:transparent;
	
	font-weight:150;
	color:#790000;
	
	border-right:1px dotted black;
}
.header_last-items{
	width:250px;
	height:48px;
	float:left;
	padding-left:50px;
	padding-right:50px;
	font-family:Verdana;
	font-size:30px;
	line-height:50px;
	background-color:transparent;
	
	font-weight:150;
	color:#790000;
	border-right:1px dotted black;
}
/*.box{
	width:150px;
	height:150px;
	float:left;
	padding:30px;
	margin:15px;
	margin-left:20px;
	position:relative;
	background-color:#A6A6A6;
	border:1px dashed black;
}*/
.box{
	float:left;
	width:215px;
	height:240px;
	margin:20px;
	
	background-color:transparent;	
	border:1px solid white;
	border-top:1px solid white; 
	border-bottom-width:5px;
	border-right-width:2px;
    border-radius:8px;
}
.box a{
	text-decoration:none;
	color:#840000;
}
.brandname{
	font-family:sans-serif;
	font-size:22px;
	text-decoration:none;
	text-align:center;
	margin-top:-20px;
}
.data ul li{
	font-size:17px;
	font-family:sans-serif;
	margin:10px 15px;
}
#dataul{
	margin-top:15px;
}
.brandlogo {
	width:215px;
	height:140px;
	text-align:center;
	padding-top:15px;
}
.footer{
	background-color:transparent;
//	opacity:0.8;
	width:80%;
	margin:15px auto;
	height:100px;
	border:2px solid black;

}
.footer {
	font-size:24px;
	font-family:"Comic Sans MS", cursive;
	margin-bottom:-15px;
}
.icon{
	width:100px;
	height:80px;
		float:left;
		}
#creator{
	margin-left:350px;
	color:#292929;
	font-size:30px;
}
.name{
	
	color:#275050;
	font-size:40px;
}
#log{
	 width:200px;
	 height:50px;
	 float:right;
	 margin-right:80px;
	 text-align:end;
	 font-size:20px;
//	 border:1px solid black;
 }