@charset "utf-8";
/* CSS Document */
  #login{
	  position:absolute;
	    width:330px;
	    height:280px;
	    border:3px solid #000042;
		display:none;
		z-index:2;
		background-color:#CCCCCC;
		top:100px;
		left:500px;
		}
	#login input{
		float:left;
		width:300px;
		height:30px;
		margin:10px;
		font-weight:600;
		border-color:#5959FF;
		border-radius:8px;
		}
	#login div{
		margin:10px;
		margin-bottom:0px;
		font-family:"Courier New", Courier, monospace;
		font-size:20px;
		font-weight:600;
		color:#000042;}
	#login h4{
		float:left;
		margin:0px 10px 0px 50px;}

#blackbox{
	width:100%;
	height:1660px;
	position:absolute;
	opacity:0.7;
	background-color:#A2A2A2;
	
	display:none;
	z-index:1;}
